<!DOCTYPEhtml>
<html lang="fr">
<head>
<title>Stratego.com</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/boostrap.min.css">
		<link rel="stylesheet" href="css/boostrap-theme.min.css">
		<link rel="stylesheet" href="./style.css">
</head>

<body>

	<div id="menu">
		<ul>
			<li class ="current-item is-activate"><a href="">Bienvenue</a></li>
			<li class ="current-item"><a href="loading.html">Jeu</a></li>
			<li class ="current-item"><a href="/signup">Contact</a></li>
		</ul>
	</div>
	<main>
        <div class="section">
            <div class="card card-header">
                <div class="content">
                    <h1>Leaderboard</h1>
                </div>
            </div>
            <div class="card card-body">
                <p>
                    Vous pouvez consulter le tableau des scores.
                </p>
                <button><a href="leaderboard.html" style="text-decoration: none;">Consulter</a></button>
            </div>
        </div>
        <div class="section">
            <div class="card card-header">
                <div class="content">
                    <h1>Multijoueur</h1>
                </div>
            </div>
            <div class="card card-body">
                <p>
                    Vous pouvez jouer en multijoueur sur ce mode.
                </p>
                <button><a href="loading.html" style="text-decoration: none;">Jouer</a></button>
            </div>
        </div>
	</main>
</body>
</html>
