body{
	color :red;
	text-align: center;
	background-color: #D6C6A8;
	font-family: sans-sérif;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    min-width: 1000px;
   	position: relative;
   	bottom: 1100px;
   	border-spacing: 0;
    height: 1000px;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    cursor: pointer;
    margin: 100px auto;
}

td {
	display: block;
    display: table-cell;
    width: 100px;
    height: 100px;
}

tr {
	margin: 0;
	padding: 0;
	border: 0;
}

tbody {
	margin: 0;
	padding: 0;
	border: 0;
}

.SpongeBobTester{
	display: block;
	vertical-align: bottom;
}

.Piece{
	display: block;
	vertical-align: bottom;
	height: 100px;
	width: 67px;
}
