#menu {
	width:20%;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	padding: 50px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	padding: 0px 0px 0px 0px;
}

#menu a {
	display: block;
	margin-right: 1px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Zounderkite 3D';
	font-size: 25px;
	font-weight: 300;
	color: red;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: white;
}

#menu .current_page_item a {
	background: #1D1B1B;
	border-radius: 5px;
}